@charset "UTF-8";

body{
    background-color: rgb(183, 240, 221);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    color: blue;


}
h1#principal{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: blue;
}
h1#principal2{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: blue;

}

h2{
    color: rgb(82, 82, 236);



}
